<nav class="p-3">
    <ul class="nav flex-column">
        <li class="nav-item mb-1">
            <button class="nav-link-custom active" onclick="showSection('dashboard')">
                <i class="fas fa-chart-line me-3"></i>
                Dashboard
            </button>
        </li>
        <li class="nav-item mb-1">
            <button class="nav-link-custom" onclick="showSection('products')">
                <i class="fas fa-glasses me-3"></i>
                Productos
            </button>
        </li>
        <li class="nav-item mb-1">
            <button class="nav-link-custom" onclick="showSection('clients')">
                <i class="fas fa-users me-3"></i>
                Clientes
            </button>
        </li>
        <li class="nav-item mb-1">
            <button class="nav-link-custom" onclick="showSection('recipes')">
                <i class="fas fa-prescription me-3"></i>
                Recetarios
            </button>
        </li>
        <li class="nav-item mb-1">
            <button class="nav-link-custom" onclick="showSection('boletas')">
                <i class="fas fa-prescription me-3"></i>
                Boletas
            </button>
        </li>
        {#        <li class="nav-item mb-1">#}
        {#            <button class="nav-link-custom" onclick="showSection('appointments')">#}
        {#                <i class="fas fa-calendar me-3"></i>#}
        {#                Citas#}
        {#            </button>#}
        {#        </li>#}
        {#        <li class="nav-item mb-1">#}
        {#            <button class="nav-link-custom" onclick="showSection('sales')">#}
        {#                <i class="fas fa-shopping-cart me-3"></i>#}
        {#                Ventas#}
        {#            </button>#}
        {#        </li>#}
        {#        <li class="nav-item mb-1">#}
        {#            <button class="nav-link-custom" onclick="showSection('settings')">#}
        {#                <i class="fas fa-cog me-3"></i>#}
        {#                Configuración#}
        {#            </button>#}
        {#        </li>#}
    </ul>
</nav>